---
layout: default
title: "Welfarm : Coupons court à la castration des porcelets"
---

<section class="header">
  <div class="row header-0">
    <div class="large-12 columns">
      <a target="_blank" class="button" href="https://donner.pmaf.org?cid=22" alt="">Faire un don</a>
    </div>
  </div>
  <div class="row header-1">
    <div class="large-6 columns header-left">
      <img src="/img/header-logo.png" alt="Logo" />
      <h2 class="couic">Couic !</h2>
      <h3 class="sub-couic">Coupons court à la <br />castration des porcelets</h3>
    </div>
    <div class="large-6 columns">
      <div class="video flex-video">
          <iframe width="552" height="314" src="https://www.youtube.com/embed/C5GzagA5X44" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="row header-2">
    <div class="large-7 columns">
      <div class="button-group">
	<div class="medium-4 columns">
	  <a href="#je-signe" class="button">
	    Je signe
	  </a>
	</div>
	<div class="medium-8 columns">
	  <a href="#jinterpelle" class="button">
	    J'écris aux professionnels
	  </a>
	</div>
      </div>
    </div>
    <div class="large-5 columns share">
      <p>Je partage :</p>
      <a class="social-network" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}">
	<img src="/img/fb.png" alt="Facebook">
      </a>
      <a class="social-network" href="https://twitter.com/home?status=%23COUIC2018%20/%20Non%20%C3%A0%20la%20%23castration%20%C3%A0%20vif%20des%20%23porcelets%20!%20Vid%C3%A9o%20et%20%23p%C3%A9tition%20%C3%A0%20partager%20sur%20www.couic2018.fr">
	<img src="/img/twitter.png" alt="Twitter">
      </a>
      <p class="hashtag">#COUIC2018</p>
    </div>
  </div>
</section>
<div class="arrow arrow-black"></div>
<section class="grey">
  <div class="row grey-1">
    <!--<div class="medium-4 columns small-10 small-centered medium-uncentered part-1">-->
    <div class="medium-4 columns part-1">
      En France, 85% des porcelets mâles, soit 10 millions d’animaux, sont <span class="orange-color uppercase">castrés à vif</span> quelques jours après leur naissance.
    </div>
    <div class="show-for-small-only">
      <div class="medium-6 columns part-3">
	<p class="cet-acte">Cet acte est :</p>
	<img src="/img/grey-cochon.png" alt="Cochon">
	<p class="orange-color uppercase bold">Extrêmement douloureux pour l’animal</p>
	<img src="/img/grey-terre.png" alt="Terre">
	<p>Néfaste pour l’environnement </p>
	<img src="/img/grey-economie.png" alt="Economie">
	<p>Un non-sens économique</p>
	<img src="/img/grey-eleveur.png" alt="Eleveur">
	<p>Pénible pour l’éleveur qui réalise la castration</p>
      </div>
    </div>
    <div class="show-for-medium-up">
      <div class="medium-2 columns img-stack">
	<img src="/img/grey-cochon.png" alt="Cochon">
	<img src="/img/grey-terre.png" alt="Terre">
	<img src="/img/grey-economie.png" alt="Economie">
	<img src="/img/grey-eleveur.png" alt="Eleveur">
      </div>
      <div class="medium-6 columns part-3">
	<p class="cet-acte">Cet acte est :</p>
	<p class="orange-color uppercase bold">Extrêmement douloureux pour l’animal</p>
	<p>Néfaste pour l’environnement </p>
	<p>Un non-sens économique</p>
	<p>Pénible pour l’éleveur qui réalise la castration</p>
      </div>
    </div>
  </div>
  <div class="row grey-2">
    <div class="medium-4 columns ou">
      <img class="first" src="/img/grey-ou.png">
      <h4>Où ?</h4>
      <p>
      Dans tous les systèmes d’élevage y compris en élevage biologique, Label Rouge,
      <br />plein air...
      </p>
    </div>
    <div class="medium-4 columns qui">
      <img class="second" src="/img/grey-qui.png">
      <h4>Qui ?</h4>
      <p>Tous les porcelets mâles</p>
    </div>
    <div class="medium-4 columns pourquoi">
      <img class="third" src="/img/grey-pourquoi.png">
      <h4>Pourquoi ?</h4>
      <p>Une odeur désagréable peut apparaître à la première cuisson de la viande de certains animaux…</p>
    </div>
  </div>
  <div class="row">
    <div class="large-12 small-10 columns small-centered">
      <div class="delimiter"></div>
    </div>
  </div>
  <div class="row grey-3">
    <div class="large-12 columns">
      Pourtant cette odeur apparaît chez <span class="orange-color uppercase">moins de 5%</span> des mâles !
    </div>
  </div>
</section>
<div class="arrow arrow-grey"></div>
<section class="green">
  <div class="row part-1">
    <div class="large-12 columns">
      <h2>Des alternatives sans souffrances existent.</h2>
      <p>Elles ont fait leurs preuves et sont déjà utilisées par des acteurs importants de la filière, notamment à l’étranger.</p>
    </div>
  </div>
  <div class="row part-2 block-list">
    <div class="large-4 columns">
      <div class="arrow arrow-green show-for-small-only"></div>
      <div class="block">
	<div class="arrow arrow-green"></div>
	<h4>L’élevage de porcs <br /><span class="bold">non castrés</span></h4>
	<div class="button">En abattoir</div>
	<img src="/img/green-1.png" alt="">
	<p>
	Les animaux ne sont pas castrés.<br />
	Sur la chaîne d’abattage, un employé chauffe un morceau des carcasses des mâles non castrés.<br />
	Celles qu’il détecte comme odorantes sont orientées vers un circuit destiné à la salaison sèche ou aux produits transformés. Il n’y a donc aucune perte, ni pour l’éleveur, ni pour l’abattoir et aucun risque de viande odorante pour le consommateur.
	</p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="block">
	<div class="arrow arrow-green"></div>
	<h4>L’<span class="bold">immunocastration</span></h4>
	<div class="button">En élevage</div>
	<img src="/img/green-2.png" alt="">
	<p>
	Un « vaccin anti-odeur » est administré aux porcelets mâles afin d’inhiber la production des molécules responsables de l’odeur désagréable.<br />
	L’ANSES (Agence nationale de sécurité sanitaire de l’alimentation, de l’environnement et du travail), et son homologue européen l’EFSA ont autorisé sa mise sur le marché depuis 2009 et ont certifié qu’on ne retrouvait aucun résidu dans la viande de porc.
	</p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="block last">
	<div class="arrow arrow-green"></div>
	<h4>Les <span class="bold">avantages</span></h4>
	<div class="row small-collapse">
	  <div class="small-3 columns">
	    <img class="green-3-1" src="/img/green-3-1.png">
	  </div>
	  <div class="small-8 small-offset-1 columns">
	    <p class="bold uppercase green-color first">éthiques : Indolores pour l’animal</p>
	  </div>
	</div>
	<div class="row small-collapse">
	  <div class="small-3 columns">
	    <img src="/img/green-3-2.png">
	  </div>
	  <div class="small-8 small-offset-1 columns">
	    <p>
	    <span class="bold uppercase">économiques :</span><br />
	    en raison de leur métabolisme, les porcs non castrés consomment moins de nourriture. L’éleveur réalise donc un gain de 1 à 5 euros par animal
	    </p>
	  </div>
	</div>
	<div class="row small-collapse">
	  <div class="small-3 columns">
	    <img src="/img/green-3-3.png">
	  </div>
	  <div class="small-8 small-offset-1 columns">
	    <p>
	    <span class="bold uppercase">environnementaux :</span><br />
	    les porcs non castrés produisent moins de lisier
	    </p>
	  </div>
	</div>
      </div>
    </div>
  </div>
</section>
<section class="agis">
  <div class="row">
    <div class="large-12 columns fleche">
      <img src="/img/arrow.png" alt="Fleche">
      <p>J'agis</p>
      <img src="/img/arrow.png" alt="Fleche">
    </div>
  </div>
</section>
<div class="arrow arrow-orange"></div>
<section class="petition" id="je-signe">
  <div class="part-1">
  <div class="row">
    <div class="large-2 columns">
      <div class="number">1</div>
    </div>
    <div class="large-8 columns end">
      <h2>Je signe la pétition</h2>
      <h4>pour demander l’arrêt de la castration à vif des porcelets</h4>
      <h3>Déjà <span id="nb-signatures">0</span> signatures</h3>
    </div>
  </div>
  <div class="row texte">
    <div class="large-8 columns large-centered">
      <p>
      Le 25 mai 2016, WELFARM s’est rendue au Ministère de l’Agriculture pour remettre 110 294 signatures de citoyens demandant l’interdiction de la castration à vif des porcelets. Lors de notre rencontre, le cabinet du Ministre s’est montré intéressé pour avancer sur le sujet. Cependant, en l’absence de mesures concrètes, WELFARM reste mobilisée. Vous pouvez donc continuer à signer notre pétition pour exprimer votre souhait de voir cette pratique interdite en France comme c’est déjà le cas en Suisse, en Norvège ou encore en Suède.
      </p>
    </div>
  </div>
  </div>
  <div class="part-2">
    <form class="petitionForm" novalidate>
      <div class="row">
	<div class="large-10 columns large-centered">
	  <div class="medium-3 columns">
	    <input type="text" placeholder="Nom" name="lastname" required />
	    <p class="show-error">Le nom n'est pas valide</p>
	  </div>
	  <div class="medium-3 columns">
	    <input type="text" placeholder="Prénom" name="firstname" required />
	    <p class="show-error">Le prénom n'est pas valide</p>
	  </div>
	  <div class="medium-3 columns">
	    <input type="email" placeholder="Email" name="email" required />
	    <p class="show-error">L'email n'est pas valide</p>
	  </div>
	  <div class="medium-3 columns">
	    <input id="id_phone" type="text" placeholder="Téléphone" name="phone" />
	    <p class="show-error">Le numéro de téléphone n'est pas valide</p>
	  </div>
	</div>
      </div>
      <div class="row">
	<div class="large-12 columns">
	  <input name="optin" type="checkbox" id="1-checkbox">
	  <label for="1-checkbox">
	    <span></span>Je souhaite recevoir la newsletter de WELFARM
	  </label>
	</div>
      </div>
      <div class="row large-collapse">
	<div class="large-offset-4 large-4 columns">
	  <input type="submit" value="Je signe la pétition">
	</div>
	<div class="large-4 columns share">
	  <p>Je partage :</p>
	  <a class="social-network" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}">
	    <img src="/img/fb.png" alt="Facebook">
	  </a>
	  <a class="social-network" href="https://twitter.com/home?status=%23COUIC2018%3A%20Mobilisons-nous%20contre%20la%20castration%20%C3%A0%20vif%20des%20porcelets!%20Comme%20moi%2C%20%C3%A9crivez%20aux%20marques%20sur%20www.couic2018.fr%20%40WelfarmFR">
	    <img src="/img/twitter.png" alt="Twitter">
	  </a>
	  <p class="hashtag">#COUIC2018</p>
	</div>
      </div>
    </form>
  </div>
</section>
{% include professionels.html arrows=true %}
{% include footer.html %}
