---
layout: default
title: "Welfarm : Coupons court à la castration des porcelets"
---

<section class="merci">
  <div class="row">
    <div class="large-12 columns">
      <h1>Merci d'avoir signé notre pétition !</h1>
    </div>
  </div>
  <div class="row block-list">
    <div class="large-10 large-centered">
      <div class="medium-4 columns">
	<div class="block">
	  <h3>20€</h3>
	  <p class="subprice">6,80€ après déduction fiscale</p>
	  <p>Je finance l’impression et la diffusion de brochures de sensibilisation du public</p>
	  <div class="button-container">
	    <a class="button" target="_blank" href="https://donner.pmaf.org/b?cid=22&amount=2000">Je fais un don</a>
	  </div>
	</div>
      </div>
      <div class="medium-4 columns">
	<div class="block">
	  <h3>30€</h3>
	  <p class="subprice">11,20€ après déduction fiscale</p>
	  <p>Je finance la tenue d’un stand d’informations</p>
	  <div class="button-container">
	    <a class="button" target="_blank" href="https://donner.pmaf.org/b?cid=22&amount=3000">Je fais un don</a>
	  </div>
	</div>
      </div>
      <div class="medium-4 columns">
	<div class="block">
	  <h3>50€</h3>
	  <p class="subprice">17€ après déduction fiscale</p>
	  <p>Je participe à l’organisation d’un rendez-vous avec un professionnel</p>
	  <div class="button-container">
	    <a class="button" target="_blank" href="https://donner.pmaf.org/b?cid=22&amount=5000">Je fais un don</a>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <div class="row aussi">
    <div class="large-11 columns large-centered">
      Vous pouvez aussi interpeler les professionels en leur envoyant le message ci-dessous :
    </div>
  </div>
</section>
<div class="arrow arrow-green"></div>

{% include professionels.html %}
{% include footer.html %}

<!-- Google Code for Petition Couic2018 Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1015071870;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "jIy3CKLR0mYQ_oiD5AM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1015071870/?label=jIy3CKLR0mYQ_oiD5AM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>
