---
layout: default
title: "Welfarm : Coupons court à la castration des porcelets"
---

<section class="merci">
  <div class="row">
    <div class="large-12 columns">
      <h1>Merci d'avoir signé notre pétition !</h1>
    </div>
  </div>
  <div class="row block-list">
    <div class="large-10 large-centered">
      <div class="medium-4 columns">
	<div class="block">
	  <h3>20€</h3>
	  <p class="subprice">6,80€ après déduction fiscale</p>
	  <p>Je finance l’impression et la diffusion de brochures de sensibilisation du public</p>
	  <a class="button" target="_blank" href="https://donner.pmaf.org/b?cid=22&amount=2000">Je fais un don</a>
	</div>
      </div>
      <div class="medium-4 columns">
	<div class="block">
	  <h3>30€</h3>
	  <p class="subprice">11,20€ après déduction fiscale</p>
	  <p>Je finance la tenue d’un stand d’informations</p>
	  <a class="button" target="_blank" href="https://donner.pmaf.org/b?cid=22&amount=3000">Je fais un don</a>
	</div>
      </div>
      <div class="medium-4 columns">
	<div class="block">
	  <h3>50€</h3>
	  <p class="subprice">17€ après déduction fiscale</p>
	  <p>Je participe à l’organisation d’un rendez-vous avec un professionnel</p>
	  <a class="button" target="_blank" href="https://donner.pmaf.org/b?cid=22&amount=5000">Je fais un don</a>
	</div>
      </div>
    </div>
  </div>
  <div class="row aussi">
    <div class="large-11 columns large-centered">
      Vous pouvez aussi interpeler les professionels en leur envoyant le message ci-dessous :
    </div>
  </div>
</section>
<div class="arrow arrow-green"></div>

{% include professionels.html %}
{% include footer.html %}
