<section class="footer" id="aller-plus-loin">
  <div class="part-1">
    <div class="row">
      <div class="large-10 columns large-centered">
	<h2>Pour aller plus loin :</h2>
	<p>
	Malheureusement la castration à vif n’est la seule source de souffrance des porcs destinés à la consommation. Actuellement 90% des cochons vivent dans des conditions qui ne répondent pas à leurs besoins.
	</p>
	<p>
	Plus d’infos sur <a target="_blank" href="http://paillassonlecochon.com">paillassonlecochon.com</a>
	</p>
	<div class="delimiter"></div>
      </div>
    </div>
  </div>
  <div class="part-2">
    <div class="row">
      <div class="large-10 columns large-centered">
	<div class="medium-3 medium-offset-1 columns">
	  <img src="/img/logo.png" alt="Welfarm">
	</div>
	<div class="medium-7 medium-offset-1 columns">
	  WELFARM - Protection mondiale des animaux de ferme agit depuis plus de 20 ans pour améliorer les conditions d’élevage, de transport et d’abattage des animaux. L’association, dont la mission est reconnue d’utilité publique, œuvre auprès du grand public, des éleveurs, des acteurs de l’agroalimentaire et de la grande distribution ainsi que des institutions publiques pour une meilleure prise en compte du bien-être animal.
	</div>
	<div class="large-12 columns suivre">
	  <p>Nous suivre sur : </p>
	  <a target="_blank" href="http://welfarm.fr">welfarm.fr</a>
	  <a target="_blank" href="https://www.facebook.com/Welfarm-Protection-mondiale-des-animaux-de-ferme-174152456808/">
	    <img src="/img/fb.png" alt="Facebook">
	  </a>
	  <a target="_blank" href="https://twitter.com/WelfarmFR">
	    <img src="/img/twitter.png" alt="Twitter">
	  </a>
	  <a target="_blank" href="https://www.youtube.com/channel/UCiJAjlUSl1cGrQzkDPsw7ng">
	    <img src="/img/youtube.png" alt="YouTube">
	  </a>
	</div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
	<a target="_blank" class="button" href="https://donner.pmaf.org/?cid=22" alt="">Faire un don</a>
      </div>
    </div>
    <div class="row medium-collapse don-en-confiance">
      <div class="small-10 small-centered columns">
	<div class="medium-2 columns">
	  <img src="/img/don-en-confiance.png" alt="Don en Confiance²">
	</div>
	<div class="medium-10 columns">
	  <p>WELFARM est la première organisation de protection animale à être agrée par le Comité de la Charte du don en confiance, organisme sans but lucratif exerçant depuis plus de 20 ans la mission de contrôle de l'appel à la générosité publique.</p>
	</div>
      </div>
    </div>
    <div class="row informations-legales">
      <div class="large-12 columns">
	<p>© Welfarm 2016  |  <a href="http://pmaf.org/mentions-legales.html">Informations légales</a></p>
      </div>
    </div>
  </div>
</section>
