<section class="petition-professionels" id="jinterpelle">
  {% if include.arrows %}
  <div class="row show-for-medium-up">
    <div class="large-12 columns fleche">
      <img src="/img/arrow.png" alt="Fleche">
      <p>J'écris aux professionels</p>
      <img src="/img/arrow.png" alt="Fleche">
    </div>
  </div>
  {% endif %}
  <div class="row show-for-small-only">
    <div class="small-4 columns fleche">
      <img src="/img/arrow.png" alt="Fleche">
    </div>
    <div class="small-4 columns last fleche">
      <img src="/img/arrow.png" alt="Fleche">
    </div>
  </div>
  <div class="row show-for-small-only">
    <div class="small-12 columns show-for-small-only fleche">
      <p>J'écris aux professionels</p>
    </div>
  </div>
  <div class="part-1">
    <div class="row">
      <div class="large-2 columns">
	<div class="number">2</div>
      </div>
      <div class="large-8 columns end">
	<h2>faites bouger<br /> les acteurs réticents</h2>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
	<p class="text-1">
	Dans le cadre de sa campagne #couic2018, nous avons interpellé les professionnels de l’ensemble de la filière porcine, de l'agro-alimentaire et de la distribution. Une démarche de dialogue a été entamée avec certains d’entre eux.
	</p>
	<p class="text-2">
	Cependant, plusieurs entreprises n’ont pas répondu à nos demandes de rendez-vous.
	</p>
	<p class="ecrivez">Ecrivez-leur pour les inciter a entamer un dialogue avec welfarm :</p>
      </div>
    </div>
  </div>
  <div class="part-2">
    <div class="row">
      <div class="large-10 columns large-centered">
	<div class="number-petition">1</div>
	<p class="legende-number-petition">Copier/Coller le texte suivant :</p>
	<div class="letter">
	  <p class="objet">Objet : Approvisionnement de votre enseigne en viande provenant de porcs non castrés à vif</p>
	  <p>Madame, Monsieur,</p>
	  <p>C’est avec effroi que j’ai appris que votre entreprise se fournissait auprès d’éleveurs de porcs pratiquant la castration sans anesthésie. Cette mutilation est réalisée au scalpel sur des animaux âgés de moins d’une semaine et elle engendre pour eux une souffrance très importante qui perdure plusieurs jours après l’opération.</p>
	  <p>Or des alternatives prenant en compte le bien-être de l’animal existent ; certains de vos concurrents européens se sont déjà engagés dans cette voie en faisant le choix de se fournir auprès d’éleveurs de porcs mâles non castrés ou immunocastrés.</p>
	  <p>C’est la raison pour laquelle je vous demande aujourd’hui de vous engager pour l’arrêt de la castration à vif des porcelets en vous approvisionnant chez des éleveurs n’ayant pas recours pas à cette mutilation.</p>
	  <p>L’association WELFARM Protection mondiale des animaux de ferme peut vous aider dans cette démarche.</p>
	  <p>En espérant vous voir réagir au plus vite pour mettre fin à cette pratique, je vous saurais gré, Madame, Monsieur, de bien vouloir m’apporter une réponse.</p>
	</div>
      </div>
    </div>
  </div>
  <div class="part-3">
    <div class="row medium-collapse">
      <div class="large-8 columns large-centered small-collapse">
	<div class="medium-1 small-2 columns">
	  <div class="number-petition">2</div>
	</div>
	<div class="medium-11 small-10 columns">
	  <p class="legende-number-petition">
	  Choisissez le nom de l’enseigne en cliquant sur son bouton<br />
	  <span class="italic nobold">(ceci ouvrira la page du formulaire de contact du site Internet de l’enseigne. Vous pourrez alors y copier/coller le message) :</span>
	  </p>
	</div>
      </div>
    </div>
    <div class="row">
      <div class="large-10 columns large-centered">
	<div class="medium-4 columns">
	  <a class="button marque" target="_blank" href="https://contact.croquonslavie.fr">Herta</a>
	</div>
	<div class="medium-4 columns">
	  <a class="button marque" target="_blank" href="https://www.bordeau-chesnel.com/contact.html">Bordeau Chesnel</a>
	</div>
	<div class="medium-4 columns">
	  <a class="button marque" target="_blank" href="https://www.magasins-u.com/contact">Super U</a>
	</div>
      </div>
    </div>
    <div class="row">
      <div class="large-8 columns large-centered">
	<div class="medium-6 columns">
	  <a class="button marque" target="_blank" href="http://www.e-leclerc.com/catalogue/questions-frequentes/faq---formulaire-produit-repere">Leclerc</a>
	</div>
	<div class="medium-6 columns">
	  <a class="button marque" target="_blank" href="https://ssl.lidl.fr/fr/hotline.htm">Lidl</a>
	</div>
      </div>
    </div>
  </div>
  <div class="part-4">
    <div class="row medium-collapse">
      <div class="large-8 columns large-centered small-collapse">
	<div class="small-1 columns">
	  <div class="number-petition">3</div>
	</div>
	<div class="small-11 columns">
	  <p class="legende-number-petition">
	  Donnez encore plus de poids à votre démarche :<br />
	  contactez directement chaque enseigne sur leur page Facebook ou Twitter.<br />
	  <span class="nobold">Vous pouvez par exemple y copier-coller ce message :</span>
	  </p>
	</div>
      </div>
    </div>
    <div class="row">
      <div class="large-5 columns large-offset-4">
	<div class="box">
	  <p>
	  A quand des produits sans castration à vif des porcelets ? #couic2018
	  </p>
	</div>
      </div>
    </div>
  </div>
</section>
