<section class="petition-professionels" id="jinterpelle">
  {% if include.arrows %}
  <div class="row show-for-medium-up">
    <div class="large-12 columns fleche">
      <img src="/img/arrow.png" alt="Fleche">
      <p>J'écris aux professionels</p>
      <img src="/img/arrow.png" alt="Fleche">
    </div>
  </div>
  {% endif %}
  <div class="row show-for-small-only">
    <div class="small-4 columns fleche">
      <img src="/img/arrow.png" alt="Fleche">
    </div>
    <div class="small-4 columns last fleche">
      <img src="/img/arrow.png" alt="Fleche">
    </div>
  </div>
  <div class="row show-for-small-only">
    <div class="small-12 columns show-for-small-only fleche">
      <p>J'écris aux professionels</p>
    </div>
  </div>
  <div class="part-1">
    <div class="row">
      <div class="large-2 columns">
	<div class="number">2</div>
      </div>
      <div class="large-8 columns end">
	<h2>faites bouger<br /> les acteurs réticents</h2>
      </div>
    </div>
    	<p class="text-1">
	Dans le cadre de sa campagne #couic2018 contre la castration à vif des porcelets,<br> WELFARM a sollicité les acteurs de la filière porcine (éleveurs, industriels de l’agro-alimentaire et enseignes de la grande distribution).
	</p>
	<H3>CLIQUEZ SUR L'ANIMATION POUR DÉCOUVRIR<br> LE POSITIONNEMENT DES ENSEIGNES SOLLICITÉES
	</H3>
    <div class="row">
      <div class="large-12 columns">
	<canvas id="canvas" width="600" height="566" style="background-color:#F0931D"></canvas>
<p></p>
	<p class="ecrivez">Écrivez à celles qui refusent de remettre en cause <br />la castration à vif des porcelets :
</p>
      </div>
    </div>
  </div>
  <div class="part-2">
    <div class="row">
      <div class="large-10 columns large-centered">
	<div class="number-petition">1</div>
	<p class="legende-number-petition">Copier/Coller le texte suivant :</p>
	<div class="letter">
	  <p class="objet">Objet : Approvisionnement de votre enseigne en viande provenant de porcs non castrés à vif</p>
	  <p>Madame, Monsieur,</p>
	  <p>C’est avec effroi que j’ai appris que votre entreprise se fournissait auprès d’éleveurs de porcs pratiquant la castration sans anesthésie. Cette mutilation est réalisée au scalpel sur des animaux âgés de moins d’une semaine et elle engendre pour eux une souffrance très importante qui perdure plusieurs jours après l’opération.</p>
	  <p>Or des alternatives prenant en compte le bien-être de l’animal existent ; certains de vos concurrents européens se sont déjà engagés dans cette voie en faisant le choix de se fournir auprès d’éleveurs de porcs mâles non castrés ou immunocastrés.</p>
	  <p>Suite à la campagne menée par l’association WELFARM, plusieurs acteurs français de la transformation et de la distribution ont également accepté de faire évoluer leurs pratiques et de privilégier l’achat de viande de porcs non castrés à vif.</p>
	  <p>C’est la raison pour laquelle je vous demande aujourd’hui de vous engager pour l’arrêt de la castration à vif des porcelets. WELFARM peut vous aider dans cette démarche.</p>
	  <p>En espérant vous voir réagir au plus vite pour mettre fin à cette pratique, je vous saurais gré, Madame, Monsieur, de bien vouloir m’apporter une réponse.</p>
	</div>
      </div>
    </div>
  </div>
  <div class="part-3">
    <div class="row medium-collapse">
      <div class="large-8 columns large-centered small-collapse">
	<div class="medium-1 small-2 columns">
	  <div class="number-petition">2</div>
	</div>
	<div class="medium-11 small-10 columns">
	  <p class="legende-number-petition">
	  Choisissez le nom de l’enseigne en cliquant sur son bouton<br />
	  <span class="italic nobold">(ceci ouvrira la page du formulaire de contact du site Internet de l’enseigne. Vous pourrez alors y copier/coller le message) :</span>
	  </p>
	</div>
      </div>
    </div>
    <div class="row">
      <div class="large-10 columns large-centered">
	<!--div class="medium-6 columns">
	  <a class="button marque" target="_blank" href="http://cora-france.fr/cora-france/contact.html">Cora</a>
	</div>
	<!-- div class="medium-6 columns">
	  <a class="button marque" target="_blank" href="http://www.fleurymichon.fr/fleury-michon-et-vous/espace-consommateur">Fleury Michon</a>
	</div>
	<!--<div class="medium-6 columns">-->
	  <!--<a class="button marque" target="_blank" href="https://www.magasins-u.com/contact">Super U</a>-->
	<!--</div>-->
	<div class="large-12 columns large-centered">
	  <a class="button marque" target="_blank" href="http://www.e-leclerc.com/catalogue/questions-frequentes/faq---formulaire-produit-repere">Leclerc</a>
	</div>
	<div class="large-12 columns large-centered">
	  <a class="button marque " target="_blank" href="https://ssl.lidl.fr/fr/hotline.htm">Lidl</a>
	</div>
      </div>
    </div>
    <!--<div class="row">-->
      <!--<div class="large-8 columns large-centered">-->
      <!--</div>-->
    <!--</div>-->
  </div>
  <div class="part-4">
    <div class="row medium-collapse">
      <div class="large-8 columns large-centered small-collapse">
	<div class="small-1 columns">
	  <div class="number-petition">3</div>
	</div>
	<div class="small-11 columns">
	  <p class="legende-number-petition">
	  Donnez encore plus de poids à votre démarche :<br />
	  contactez directement chaque enseigne sur leur page Facebook ou Twitter.<br />
	  <span class="nobold">Vous pouvez par exemple y copier-coller ces messages :</span>
	  </p>
	</div>
      </div>
    </div>
    <div class="row">
      <div class="large-5 columns large-offset-4">
	<div class="box">
	  <p>
	  @LeclercBonPlan @lidlfrance Un monde sans castration à vif des porcelets : AVEC ou SANS vous ? #couic2018 @WelfarmFR
	  </p>
	</div>
      </div>
    </div>
  </div>
  <div class="reveal" id="revealCarrefour" data-reveal>
    <h1>Carrefour</h1>
    <!--<p class="lead">Carrefour</p>-->
    <p>Actuellement Carrefour est la seule enseigne à s’être engagée dans une démarche d’arrêt de la castration à vif. Ainsi, la moitié du porc filière qualité Carrefour est issue d’animaux ne subissant pas cette mutilation douloureuse. WELFARM a suivi et mis en avant cette initiative qui a été amorcée en 2012 et continue à accompagner l’enseigne vers un arrêt total de la castration à vif pour ses produits de marque distributeur.</p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="reveal" id="revealHerta" data-reveal>
    <h1>Herta</h1>
    <!--<p class="lead">Herta</p>-->
    <p>Grâce aux citoyens qui ont sollicité le service consommateurs de la marque, nous avons pu obtenir un rendez-vous avec les dirigeants d’Herta. Ces derniers s’approvisionnent déjà pour partie en porcs mâles entiers mais une partie des animaux continuent à subir la castration sans anesthésie. WELFARM félicite la marque Herta, qui s’est engagée à réaliser un test auprès de l’un de ses fournisseurs français pour mettre un terme à la castration à vif.</p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="reveal" id="revealHenaff" data-reveal>
    <h1>Henaff</h1>
    <!--<p class="lead">Henaff</p>-->
    <p>La marque s’est montrée intéressée par les alternatives à la castration à vif des porcelets et interroge actuellement ses éleveurs sur la question. WELFARM suivra le travail effectué par Hénaff afin que cette mesure soit suivie d’effets concrets.</p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="reveal" id="revealMonoprix" data-reveal>
    <h1>Monoprix</h1>
    <!--<p class="lead">Monoprix</p>-->
    <p>Déjà engagée pour les animaux d’élevage dans leurs filières bovins, lait et poules pondeuses, l’enseigne Monoprix n’a pour l’instant aucune exigence spécifique en termes de bien-être des cochons. Rencontrée dans le cadre de notre campagne #couic2018, l’enseigne a indiqué qu’elle souhaitait y remédier et qu’elle interrogerait ses fournisseurs sur les alternatives à la castration à vif des porcelets. WELFARM accompagnera le travail effectué par Monoprix pour que cette démarche de progrès se concrétise.</p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="reveal" id="revealIntermarche" data-reveal>
    <h1>Intermarche</h1>
    <!--<p class="lead">Intermarche</p>-->
    <p>Rencontrée dans le cadre de notre campagne #couic2018, l’enseigne a souhaité engager une démarche de progrès plus globale avec les associations de protection animale, dont WELFARM. Notre association approuve cette initiative et espère que, sur ce sujet comme sur d’autres, l’enseigne prendra des mesures fortes et concrètes en faveur des animaux d’élevage.</p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="reveal" id="revealFleuryMichon" data-reveal>
    <h1>Fleury Michon</h1>
    <!--<p class="lead">FleuryMichon</p>-->
    <p>Dans le cadre de notre campagne #couic2018, WELFARM a rencontré les responsables de la filière « J’aime » (J’ ❤ ).  L’industriel spécialiste de la charcuterie nous a affirmé travailler à la recherche d’alternatives et s’est montré ouvert à la discussion, mais à l’heure actuelle, la marque n’a pas souhaité prendre d’engagement sur le sujet. Suite à vos messages la marque a montré son souhait de nous recevoir de nouveau à la rentrée… affaire à suivre !</p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="reveal" id="revealCora" data-reveal>
    <h1>Cora</h1>
    <!--<p class="lead">Cora</p>-->
    <p>L’enseigne nous a reçus en mai dernier dans le cadre de notre campagne et nous a informés qu’elle s’approvisionne déjà en partie en porcs non castrés pour son rayon boucherie. Pour ce qui concerne son rayon charcuterie traditionnelle, l’enseigne nous a fait part de son souhait de se fournir en porc castré sous anesthésie. WELFARM se réjouit de cette position mais constate à regret qu’il n’est pas possible de mettre cette alternative en place dans l’immédiat ; en effet, à l’heure actuelle, les éleveurs n’ont pas le droit de pratiquer l’anesthésie eux-mêmes. Cependant, suite à vos sollicitations, Cora nous a adressé un courrier nous informant que l’enseigne est disposée à nous rencontrer à nouveau afin de poursuivre nos échanges sur les alternatives à la castration à vif des porcelets.</p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="reveal" id="revealLidl" data-reveal>
    <h1>Lidl</h1>
    <!--<p class="lead">Lidl</p>-->
    <p>La réponse-type envoyée par Lidl aux internautes soucieux du bien-être animal ayant sollicité cette enseigne n’est pas satisfaisante. Lidl n’y avance aucun argument susceptible de laisser entrevoir un changement dans leurs pratiques concernant la castration à vif des porcelets. Malgré nos relances, l’enseigne refuse toujours de nous accorder un RDV afin d’évoquer les alternatives à cette mutilation douloureuse. Nous vous encourageons donc à continuer à lui écrire pour lui faire part de votre mécontentement.</p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="reveal" id="revealLeclerc" data-reveal>
    <h1>Leclerc</h1>
    <!--<p class="lead">Leclerc</p>-->
    <p>N’a pas répondu à nos demandes de RDV sur le sujet. Sachant que 85% de porcelets mâles élevés en France sont castrés sans anesthésie, ce refus laisse penser qu’on trouve de la viande issue de porcs castrés à vif dans leurs rayons.<br />
Face à l’absence de transparence et à l’immobilisme de l’enseigne sur cette question, faites savoir votre mécontentement en écrivant à leur service consommateurs dès à présent.</p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="reveal" id="revealSystemeU" data-reveal>
    <h1>Systeme U</h1>
    <!--<p class="lead">SystemeU</p>-->
    <p>Grâce aux citoyens qui ont sollicité le service consommateurs de l’enseigne, nous avons pu obtenir un rendez-vous au siège de Système U. WELFARM félicite l’enseigne qui souhaite désormais réaliser un test auprès de l’un de ses fournisseurs français pour mettre un terme à la castration à vif.</p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="reveal" id="revealCasino" data-reveal>
    <h1>Casino</h1>
    <!--<p class="lead">Casino</p>-->
    <p>S’est montré favorable à la commercialisation de viande issue de porc n’ayant pas subi de castration à vif. Cependant, l’enseigne ne semble pas prête à adopter une attitude proactive sur ce sujet.</p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="reveal" id="revealBordeauChesnel" data-reveal>
    <h1>Bordeau Chesnel</h1>
    <!--<p class="lead">BordeauChesnel</p>-->
    <p>A l’heure actuelle, la marque n’a pas souhaité nous recevoir. Cependant, face aux nombreuses sollicitations des consommateurs exigeant un arrêt de l’approvisionnement en porcs castrés sans anesthésie, le service consommateurs de Bordeau Chesnel a fait savoir qu’une grande partie de leurs produits transformés répondait déjà à cette exigence. WELFARM reste cependant dans l’attente d’un échange avec la marque afin de confirmer ces données et de l’accompagner vers un approvisionnement 100 % porcs non castrés à vif.</p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="reveal" id="revealAuchan" data-reveal>
    <h1>Auchan</h1>
    <!--<p class="lead">BordeauChesnel</p>-->
    <p>L’enseigne a accepté de nous recevoir dans le cadre de notre campagne en juin 2016. WELFARM reste en attente du positionnement d’Auchan France au sujet des alternatives à la castration à vif des porcelets. Une nouvelle réunion de travail est prévue à cet effet à l’automne.</p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</section>
